.collapsible-content {
  position: relative;
  z-index: 0;
}

.collapsible-section-layout {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

@media screen and (min-width: 750px) {
  .collapsible-section-layout {
    padding-bottom: 7rem;
    padding-top: 7rem;
  }
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.collapsible-content__media {
  background: transparent;
}

.collapsible-content__media--small {
  height: 19.4rem;
}

.collapsible-content__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .collapsible-content__media--small {
    height: 31.4rem;
  }

  .collapsible-content__media--large {
    height: 69.5rem;
  }
}

@media screen and (min-width: 750px) {
  .collapsible-content__grid--reverse {
    flex-direction: row-reverse;
  }
}

.collapsible-content-wrapper-narrow {
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 73.4rem;
}

.collapsible-content__header {
  word-break: break-word;
}

.collapsible-content__heading {
  margin-bottom: 2rem;
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .collapsible-content__heading {
    margin-bottom: 3rem;
  }
}

.collapsible-none-layout .accordion + .accordion {
  border-top: 0;
}

.collapsible-row-layout .accordion:not(:first-child):not(.color-scheme-1) {
  margin-top: 1rem;
}

.caption-with-letter-spacing + h2 {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .collapsible-content .accordion {
    margin-top: 0;
  }
}

.collapsible-row-layout .accordion {
  border: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  margin-bottom: 1.5rem;
  /* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
  transform: perspective(0);
}

.collapsible-row-layout .accordion summary,
.collapsible-row-layout .accordion .accordion__content {
  padding: 1.5rem;
}

.collapsible-row-layout .accordion .accordion__content {
  padding-top: 0;
}

/* .collapsible-content summary:hover {
  background: rgba(var(--color-foreground), 0.04);
}

.collapsible-content summary:hover .accordion__title {
  text-decoration: none;
  text-underline-offset: 0.3rem;
} */

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse) .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 5rem;
      padding-right: 0;
    }
  }

  @media screen and (min-width: 990px) {
    .collapsible-content__grid:not(.collapsible-content__grid--reverse) .grid__item:last-child,
    .collapsible-content__grid--reverse .collapsible-content__grid-item {
      padding-left: 7rem;
    }
  }
}

.collapsible-content .section--header em{
  display: block;
  font-style: normal;
  color: rgba(var(--color-accent));
}

.faq-qustion__flex{
  display: flex;
  align-items: start;
  gap: 64px;
 
 
}

 

.faq-qustion--wrapper  {
    flex: 1;
    width: 100%;
    max-width: 578px;
    margin: 0 0 0 auto;
}

 

.faq-qustion__text{
  margin-bottom: 24px;
    max-width: 36rem;
}

.faq-qustion__img{
  max-width: 590px;
  margin-top: 10rem;
}


  @media screen and (max-width: 768px) {

.faq-qustion__flex{
 flex-direction: column;
        gap: 20px;
        margin: 0;

}
.faq-qustion--text {
  max-width: 100%;
}
  }




  /* faq-tab--wrapper */

  .faq-tab--wrapper{
     padding-top: 10rem;
  }

  .tab__content--flex {
    display: grid;
    grid-template-columns: 2fr 1.07fr;
    gap: 32px;
  }

  .tab-text-header{
    margin-bottom: 32px; 
  }


  .tab__content__tips{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tips__item{
    display: flex;
    align-items: start;
    gap: 4px;
    padding: 24px;
    border-radius: 8px;
  }

  .tip-title {
 

font-family: var(--font-inter);
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 40px;
 

color: #727273;

margin: 0;
  }

  .tip-subtitle{
    /* Don’t underplay it */
font-family: var(--font-inter);
font-style: normal;
font-weight: 700;
font-size: 20.6px;
line-height: 32px;
margin: 0;

  }

  .tip__text{
    /* Most people walk into their assessment trying to look more "together" than they are. Don't - your psychiatrist needs the real picture to make an accurate diagnosis. */
font-family: var(--font-inter);
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 31px;
 
  }


    @media screen and (max-width: 768px) {

  .tab__content--flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

.faq-tab--wrapper {
    padding-top: 2rem;
}
    }