.slideshow__swiper  .swiper-wrapper.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  gap: 0;
}

.slideshow__item {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  visibility: visible;
  height: auto;
  z-index: 2;
}

@media screen and (max-width: 749px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .banner__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    height: 28rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--placeholder.banner--adapt_image {
    height: 56rem;
  }
}

.slideshow__caption.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 71.8rem;
}

.slideshow__caption > * {
  max-width: 100%;
}

@media screen and (max-width: 749px) {

  .banner--mobile-bottom .slideshow__caption.banner__box {
    max-width: 100%;
  }

  .banner--mobile-bottom .slideshow__caption-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__caption.banner__box {
    height: 100%;
  }

  .banner--mobile-bottom .slideshow__caption .button {
    flex-grow: 0;
  }

  .slideshow__caption.slideshow__caption-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__caption.slideshow__caption-mobile--right {
    align-items: flex-end;
    text-align: right;
  }

    .hero-slider  .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }

  .hero-slider  .banner--medium:not(.banner--adapt) {
    min-height: 63.6rem;
  }

  .hero-slider  .banner--large:not(.banner--adapt) {
    min-height: 72rem;
  }
}

@media screen and (min-width: 750px) {

 


  .slideshow__caption.slideshow__caption--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__caption.slideshow__caption--right {
    align-items: flex-end;
    text-align: right;
  }
}

.swiper-wrapper:not(.banner--mobile-bottom) .slideshow__caption-wrapper {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__caption-wrapper.banner__content {
    height: 100%;
    padding-block: 5rem;
  }
}


@media screen and (min-width: 1640px) {
    .hero-slider  .banner--small:not(.banner--adapt) {
    min-height: 73rem;
  }

  .hero-slider  .banner--medium:not(.banner--adapt) {
    min-height: 88.8rem;
  }

  .hero-slider  .banner--large:not(.banner--adapt) {
    min-height: 90rem;
  }

}


.hero-slider  .slideshow__swiper {
    border: 8px solid rgb(var(--color-background));
    border-radius: 32px;
    overflow: hidden;
}


.hero-slider  .swiper-pagination-bullet {
  border: 0;
  background-color: rgb(var(--color-foreground), 0.5);
  width: 5px;
  height: 5px;
  opacity: 1;
  transition: 0.3s ease;
  border-radius: 50%;
}

.hero-slider  .swiper-pagination-bullet-active {
  background-color: rgb(var(--color-foreground));
  width: 48px;
  transition: 0.3s ease;
  border-radius: 10px;
}


.banner__media video, .banner__media  iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}


.hero-slider  .banner__box>*+.banner__text {
     font-size: 10px;
    max-width: 532px;
   
}

.hero-slider  .banner__box .banner__heading+* {
    margin-top: 1.6rem;
}

.hero-slider  .banner__box>*+.banner__buttons {
    margin-top: 3.5rem;
}