

.marquee-inner{
padding: 20px 29.3333px;
background: #FFFFFF;
background: linear-gradient(0deg,rgba(255, 255, 255, 1) 35%, rgba(246, 245, 242, 1) 100%);
border-radius: 57.3333px;
}

.marquee-text .running-content-text{
   display: flex;
   align-items: center;
   gap: 0;
   margin: 0 15px;
}

.marquee-text .running-content__img{
    max-width: 20px;
    flex: 0 0 20px;
    line-height: 0;
    margin-right: 16px;
}

.marquee-text .running-content__img img{
    height: 20px;
    border: 0;
    box-shadow: none;
    outline: none;
    margin: 0;
}

.marquee-text .running-content__text{
box-sizing: border-box;
font-family: var(--font-body-family);
font-style: normal;
font-size: 11.8133px;
line-height: 16px;
}

@media screen and (min-width: 1200px) {

.marquee-text .running-content-text{
     margin: 0 16px;
}

.marquee-inner .marquee__items--animate {
	will-change: transform;
	-webkit-animation: none;
	animation: none;
}

.marquee-inner .marquee-item{
    display: none;
}
.marquee-inner .marquee-item:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 100%;
}



}

@media screen and (min-width: 1300px) {
.marquee-text .running-content-text{
   margin: 0 28px;
}


}

@media screen and (min-width: 1600px) {
.marquee-text .running-content__text{
font-size: 12.813px;
line-height: 16px;
}


}

@media screen and (max-width: 768px) {

.marquee-inner {
	padding: 10px 2.333px;
}
}