.images-with-list-text{
    position: relative;
}

.list-image-grid{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px 40px; */
     flex: 0 0 49%;
}

.images-with-list__flex{
    display: flex;
    align-items: center;
    gap: 42px;
        max-width: 988px;
    margin: 0 auto;
}

.list-text-card {
    flex: 1;
}

.images-with-list-image:nth-child(2){
    grid-row: span 2;
}

.images-with-list-image:nth-child(3){
    grid-row: span 2;
}


.list-text-card  {
    padding: 39px 78px 39px 35px;
 
font-family: var(--font-body-family);
font-style: normal;
font-weight: 260;
font-size: 14px;
line-height: 24px;
 
 /* Frame 2141256475 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: start;
 
gap: 30px;



box-shadow: 0px 3px 27.6px -0.897358px rgba(0, 0, 0, 0.1);
border-radius: 10px;


}


.images-with-list-image {
    overflow: hidden;
    line-height: 0;
    border-radius: 10px;

}

.images-with-list-image  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.images-with-list-text .section--header {
    padding-bottom: 6.6rem;
}
.list-text__content{
    width: 100%;
}
.list-text-card ul{
    padding: 0 ;
    list-style: none;
    margin: 0;
}
.list-text-card{
 
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 34px;
 

}
.list-text-card ul li{
    position: relative;
        padding-right: 24px;
            margin-bottom: 0;
}
.list-text-card ul li::before{
    content: '';
    background-image: url(charm_tick.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
      top: 9px;


}
@media screen and (max-width: 768px) {
.images-with-list-text .section--header {
    padding-bottom: 2.6rem;
}
.images-with-list__flex {
    
    flex-direction: column;
}

.list-text-card {
    padding: 22px 22px 20px 17px;
   
}


}