.banner-card-blocks{
    position: relative;
}
.banner-card-blocks  .section--header {
    padding-bottom:  6.3rem;
}


.banner-card-blocks .section--title{
        max-width: 460px;
}
 
.banner-card__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.banner-card__inner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.banner-card__image ,
.banner-card__content{
    grid-area: 1 / 1 / 2 / 2;
}

.banner-card__image{
    line-height: 0;
}
.banner-card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-card__content{
    padding: 30px 28px 30px 40px;
}

.banner-card__title{
font-style: normal;
font-size: 30px;
line-height: 41px;
margin: 0 0 16px;
position: relative;
}
.banner-card__price_text{
    margin: 0 0 24px;
}

.banner-card__title strong{
        font-size: 50%;
    font-weight: 200;
    display: inline-block;
    margin-bottom: -15px;
    position: absolute;
    bottom: 0;
    margin-left: 7px;
}

.banner-card__list{
    margin-bottom: 27px;
    max-width: 357px;
}

.banner-card__content ul{
  list-style: none;
  padding: 0;

}
.banner-card__content li{
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
    font-style: normal;
    font-weight: 260;
    font-size: 10.9069px;
    line-height: 15px;
}
.banner-card__content li:last-child{
  margin-bottom: 0;
}
.banner-card__content li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(var(--color-accent));
    width: 16px;
    height: 16px;
    border-radius: 50px;
}
.banner-card__content li::after{
    content: "";
    position: absolute;
    left: 4px;
    top: 5px;
    background-image: url(check-mark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 8.5px;
    height: 9.5px;
}

.banner-card__text{
font-style: normal;
font-weight: 260;
font-size: 16px;
line-height: 24px;
 ;
max-width: 295px;
margin-bottom: 16px;
margin-top: 16px;

}



.banner-card__buttons{
    display: flex;
    align-items: center;
    gap: 26px;
}
.banner-card__buttons .button{
    height: 50px;
}
.banner-card__buttons .button:first-child{
    min-width: 60%;
}

.banner-card__buttons .button:last-child{
    min-width: 160px;
}


.banner-card__buttons .glass-container {
--lg-highlight: rgba(255, 255, 255, .75);
    --c-glass: #bbbbbc66;
    --c-light: #ffffffe6;
    --c--red: #ffffff;
    --c-dark: #fffdfd;
    --c-action: #ffffff;
    --c-bg: #e8e8e9;
    --c-blue: #111;
    --c-dark-rgb: rgb(0, 0, 0);
    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;
    --saturation: 150%;
    overflow: hidden;
}

.banner-card__buttons .button--primary-outline{
     background: transparent;
}
 

.banner-card__buttons .button--primary-outline:before {
    background: transparent;
    -webkit-mask: none;
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
    pointer-events: none;
}
.banner-card__content--fix .banner-card__title strong {
    top: -10px;
    margin-left: 7px;
}

@media screen and (max-width: 1280px) {
.banner-card__image img {
    object-position: 96%;
}

}
@media screen and (max-width: 768px) {

    .banner-card-blocks  .section--header {
    padding-bottom:  2.4rem;
}

.banner-card__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.banner-card__buttons{
    gap: 10px;
    flex-direction: column;
    align-items: start;
}



.banner-card__content {
    padding: 20px;
}
.banner-card__image img {
    object-position: 96%;
}
}