/* img reset */

img {
    max-width: 100%;
    height: auto;
}

.svg-icon {
    line-height: 0;
}

.placeholder-svg {
    background-color: rgba(var(--color-foreground), 0.03);
    fill: rgb(var(--color-foreground));
}

.link-animation {
    background: linear-gradient(90deg, currentColor, currentColor 100%) !important;
    background-size: 0% 0.1rem !important;
    background-repeat: no-repeat !important;
    background-position: right bottom !important;
}

.link-animation:hover {
    background-size: 100% 0.1rem !important;
    background-position: left bottom !important;
}

/* button */

.button,
.shopify-challenge__button,
button.shopify-payment-button__button--unbranded {
    min-width: calc(25.2rem + var(--buttons-border-width) * 2);
    min-height: calc(5rem + var(--buttons-border-width) * 2);
}

.button.loading {
    color: transparent !important;
}

.button--secondary,
.button--tertiary {
    --color-button: var(--color-secondary-button);
    --color-button-text: var(--color-secondary-button-text);
}

.button,
.shopify-challenge__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 0;
    padding: 0rem 2.5rem;
    min-height: 5.9rem;
    cursor: pointer;
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-size: 18.6px;
    line-height: 20px;
 
    letter-spacing: 0;

    text-align: center;
    text-transform: none;
    text-decoration: none;
    color: rgb(var(--color-primary-button-text));
    background-color: rgba(var(--color-primary-button));
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 107px;
}



.button:hover,
.shopify-challenge__button:hover {
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



.button,
.shopify-challenge__button {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 0 2.5rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button span,
.shopify-challenge__button span,
.customer button span {
    position: relative;
    z-index: 1;
    line-height: 0;
}

.button:after,
.shopify-challenge__button:after,
.shopify-payment-button__button--unbranded:after {
    content: "";
    box-shadow: none;
    transition: none;
}

.button:not([disabled]):hover:after,
.shopify-challenge__button:hover:after,
.shopify-payment-button__button--unbranded:hover:after {
    box-shadow: none;
}


.shopify-payment-button .shopify-payment-button__button {
    font-family: var(--font-heading-family);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 0;
    padding: 1rem 2.5rem;
    height: 4.1rem;
    cursor: pointer;
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    color: rgb(var(--color-secondary-button-text));
    background-color: rgba(var(--color-secondary-button));
    letter-spacing: 0;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: none;
}

/* .button:before,
.shopify-challenge__button:before,
.shopify-payment-button__button--unbranded:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: .3s ease-out;
}


.button:hover:before,
.button--primary:hover:before,
.shopify-challenge__button:hover:before {
    transition: .3s ease-out;
    left: 0;
    width: 100%;
} */


.shopify-challenge__button,
.button--primary,
.button {
    --color-button-text: var(--color-primary-button-text);
    color: rgb(var(--color-primary-button-text));
    background-color: rgb(var(--color-primary-button));
}



.shopify-challenge__button:hover,
.button--primary:hover,
.button:hover {
    color: rgb(var(--color-primary-button-hover-text));
    background-color: rgb(var(--color-primary-button-hover));
}


.button--primary-outline {
    position: relative;
    box-sizing: border-box;
    color: rgb(var(--color-primary-outline-lebel));
    background-color: transparent;
}

.hero-slider .button--primary-outline {
    background-color: #ffffff0a;
}

.button--primary-outline::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 999px;
    background: var(--color-primary-outline);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.button--primary-outline:hover {
    background-color: transparent;
    color: rgba(var(--color-primary-outline-lebel-hover));
}


.button--secondary {
    color: rgb(var(--color-secondary-button-text));
    background-color: rgb(var(--color-secondary-button));
}

.button--secondary:hover {
    color: rgb(var(--color-secondary-button-hover-text));
    background-color: rgb(var(--color-secondary-button-hover));
}


.button--secondary-outline {
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(var(--color-secondary-outline-lebel));
}

.hero-slider .button--secondary-outline {
    background-color: #ffffff0a;
}

.button--secondary-outline::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 999px;
    background: var(--color-secondary-outline);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}


.button--secondary-outline:hover {
    background-color: transparent;
    color: rgba(var(--color-secondary-outline-lebel-hover));
}


.button--primary .button-icon {
    background: rgb(var(--color-primary-button-text));
    color: rgb(var(--color-primary-button));
}

.button--primary:hover .button-icon {
    background: rgb(var(--color-primary-button));
    color: rgb(var(--color-primary-button-text));
    transition: 0.3s ease;
}

.button--primary-outline:hover .button-icon {
    color: rgba(var(--color-primary-outline-lebel-hover));
    transition: 0.3s ease;
}

.button--secondary .button-icon {
    background: rgb(var(--color-secondary-button-text));
    color: rgb(var(--color-secondary-button));
}

.button--secondary:hover .button-icon {
    background: rgb(var(--color-secondary-button));
    color: rgb(var(--color-secondary-button-text));
    transition: 0.3s ease;
}

.button--secondary-outline:hover .button-icon {
    color: rgba(var(--color-secondary-outline-lebel-hover));
    transition: 0.3s ease;
}


.button-action {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
}


.button-small {
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    line-height: 150%;
    height: 40px;
    min-height: 40px;
    min-width: 130px;
}


.button-small .svg--icon {
    width: 16px;
    height: 16px;
    padding: 0;
    flex: 0 0 16px;
}

.button--full {
    width: 100%;
}

.button .svg--icon+span {
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .button-action {
        margin-top: 30px;
    }

}


.position-relative {
    position: relative;
}

/* announcement-bar */
.announcement-bar__message {
    letter-spacing: 0;
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-size: 13.3272px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1.7rem 0;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.icon-announcement__img {
    flex: 0 0 23px;
    height: 23px;
    width: 23px;
}

@media screen and (max-width: 768px) {
    .utility-bar {
        overflow: hidden;
    }

    .announcement-bar__message {
        white-space: nowrap;
        animation: marquee_announcement 7s linear infinite forwards;
    }

}

@keyframes marquee_announcement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* header */

.header-wrapper {
    transition: background 0.3s ease-in-out;
}


:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header + .shopify-section-group-header-group)) .is-transparent .header {
    margin-block-end: calc(-1 * var(--header-height, 0px));
}

/* :has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header+.shopify-section-group-header-group)) .is-transparent .header:hover {
  background: rgba(var(--sticky-background-color));
} */

:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header + .shopify-section-group-header-group)) .is-transparent .header:not(:has([open])) {
    --color-background: 0 0 0 / 0;
    --gradient-background: 0 0 0 / 0;
    --color-foreground: 255, 255, 255;
}


:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header + .shopify-section-group-header-group)) .is-transparent .header:not(:hover, :has([open])) .link-animation,
:has(.shopify-section:first-child [allow-transparent-header]):not(:has(.shopify-section--header + .shopify-section-group-header-group)) .is-transparent .header:not(:hover, :has([open])) .link-animation-line {
    color: currentColor;
}


:has(.shopify-section:first-child [allow-transparent-header]):has(.shopify-section-group-header-group.shopify-section-header-sticky.scrolled-past-header) .is-transparent .header:not(:has([open])) {
    --color-foreground: var(--sticky-text-color) !important;
    --color-background: var(--sticky-background-color);
    background: rgba(var(--sticky-background-color)) !important;
    transition: background 0.3s ease-in-out;
}

/* header container layout    */

.header-container {
    padding: 0 1.6rem;
}

@media screen and (min-width: 1200px) {
    .header-container {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 1600px) {
    .header-wrapper .header-container {
        padding: 0 5rem;
    }
}



/* sticky header */

.sticky {
    top: -131px;
    animation: goDown 0.5s ease-in-out forwards;
}

@keyframes goDown {
    0% {
        top: -130px;
    }

    100% {
        transform: translateY(130px);
    }
}

/* section-header */
.section-header.animate {
    transition: all .7s cubic-bezier(.76, 0, .24, 1), color 0s, z-index 0s;
}

/* section-menu */

.header--nav-middle-center .header__inline-menu {
    text-align: center;
}

.header__menu {
    padding: 0 1rem;
}

.header__inline-menu .list-menu--inline {
    gap: 24px;
}

.header__menu-item {
    text-decoration: none;
    color: rgba(var(--color-foreground), 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: var(--font-body-weight);
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal;
    padding: 1.2rem 0;
    transition: 0.3s ease;
    position: relative;
}

.header__menu-item:hover {
    color: rgba(var(--color-accent), 1);
    transition: 0.3s ease;
}

.header__menu-item span {
    position: relative;
    padding: 2px 0;
    background-color: transparent;
    transition: 0.3s ease;
}

.header__menu-item:hover {
    color: rgba(var(--color-accent), 1);
    transition: 0.3s ease;
}

.header__menu-item span.header__active-menu-item {
    color: rgba(var(--color-accent), 1);
    transition: 0.3s ease;
}


.header__menu-item[aria-current="page"] {
    text-decoration: none;
    color: rgba(var(--color-accent), 1);
}

.header__active-menu-item {
    text-decoration: none;
}

.header__active-menu-item:hover {
    color: rgba(var(--color-accent), 1);
    transition: 0.3s ease;
}

.header__menu-item .header__active-menu-item:after {
    transform-origin: left top;
    transform: scale(1);
}

.header__active-menu-item+svg {
    color: rgba(var(--color-heading), 1);
}

.header__menu-item .icon-caret {
    right: 0;
    height: 1rem;
    top: 24px;
}

.header__menu-item span {
    transition: text-decoration var(--duration-short) ease;
}

.header__menu-item:hover span {
    text-decoration: none;
    text-underline-offset: 0.3rem;
}

details[open]>.header__menu-item {
    color: rgb(var(--color-accent));
    text-decoration: none;
}

.header__inline-menu .list-menu--disclosure {
    position: absolute;
    min-width: 100%;
    width: 28rem;
    border-radius: 16px;
}

.header__submenu .header__menu-item {
    font-size: 24px;
}

.header__submenu .header__menu-item:hover {
    text-decoration: none;
}

header-drawer {
    margin: 0;
}

.header__heading-link {
    padding: 0;
}

.header__icon--cart {
    position: relative;
    margin-right: 0;
}

.header__icons-item {
    line-height: 0;
}

.header__icons {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 8px
}

.header__icon {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: var(--font-body-weight);
    font-size: 13.6719px;
    line-height: 21px;
    text-decoration: none;
    gap: 10px;
}

.header__icon:hover {
    color: rgba(var(--color-accent));
    transition: 0.3s ease;
}

.cart-count-bubble {
    position: relative;
    background-color: transparent;
    color: rgba(var(--color-primary-button-text));
    height: auto;
    width: auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    bottom: auto;
    left: auto;
    font-style: normal;
    font-weight: var(--font-body-weight);
    font-size: 18px;
    line-height: 150%;
    font-family: var(--font-body-family);
    font-size: 16px;
    text-transform: none;
}

.count-text {
    padding-left: 5px;
    display: none !important;
}


.header__icon--cart {
    box-sizing: border-box;
}

.header__heading-link,
.header__heading {
    width: 100%;
}

.header__heading-logo-wrapper img {
    max-width: var(--logo-width-mobile);
}

@media screen and (min-width: 990px) {
    .header__icons {
        gap: 24px
    }

    .header__heading-logo-wrapper img {
        max-width: var(--logo-width);
    }
}



details[open] .header__icon-search {
    display: none;
}

.header__icon--menu {
    background-color: transparent;
}

.header__icon--menu .icon-menu {
    display: block;
    position: absolute;
    opacity: 1;
    transition: transform .15s ease, opacity .15s ease;

}

.header__icon--menu:hover {
    background-color: transparent;
    color: rgba(var(--color-heading));
}

.header__icon--menu .icon {
    height: auto;
    width: auto;
    color: rgba(var(--color-heading));
    transition: transform .15s ease, opacity .15s ease;
}

.header__icon--menu:hover .icon {
    opacity: 1;
    transition: transform .15s ease, opacity .15s ease;
}



.login-button {
    /* Frame 8 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    min-width: 92px;
    height: 33px;
    background: #FCFCFA;
    border-radius: 107px;
    font-family: var(--font-abc-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2E2E25;
    text-decoration: none;

    position: relative;

}


.login-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
    border-radius: 999px;
    background: var(--color-primary-outline);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

/* mobile drawer menu */


.drawer__underlay .drawer__underlay__blur,
.drawer__underlay .drawer__underlay__fill {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.drawer__underlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.drawer--visible .drawer__underlay,
.is-open .drawer__underlay,
.drawer__underlay.underlay--visible {
    z-index: 20000;
    visibility: visible;
    transition: visibility .3s ease;


    background: rgba(0, 0, 0, 0.81);

}

.drawer--visible .drawer__underlay .drawer__underlay__fill,
.drawer__underlay.underlay--visible .drawer__underlay__fill {
    background: rgba(var(--color-background));
    opacity: 0.6;
}

.drawer--visible .drawer__underlay .drawer__underlay__blur,
.drawer__underlay.underlay--visible .drawer__underlay__blur {
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: -webkit-backdrop-filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: backdrop-filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: backdrop-filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-backdrop-filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

}



body.drawer-open {
    overflow: hidden;
}

.drawer__content {
    position: fixed;
    visibility: hidden;
    z-index: 20050;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 350px;
    max-width: 500px;
    background: rgba(var(--color-background));
    border-right: 0;
    box-shadow: -1px 0px 5.1px rgba(0, 0, 0, 0.25);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s ease, visibility 0s linear 1s;
    display: flex;
    flex-direction: column;
    border-radius: 0 1.6rem 1.6rem 0;
    overflow: hidden;
}

.drawer--visible .drawer__content {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 479px) {
    .drawer__content {
        width: 100vw;
    }
}

.drawer--right .drawer__content {
    left: initial;
    right: 0;
}

.drawer__inner_custom {
    position: relative;
    flex: 1;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.menu-drawer__navigation {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

.header__mobile__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 9px;
    gap: 4px;
    width: 40px;
    height: 40px;
    background: transparent;
    color: rgb(var(--color-accent));
    border: 0;
    border-radius: 10px;
    transition: transform 0.3s;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.drawer__list-social {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.drawer__list-social li>a {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 36px;
    height: 36px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 100px;
    color: rgb(var(--color-foreground));
    border: 1px solid rgb(var(--color-foreground), 0.2);
    transition: 0.3s ease;
}

.drawer__list-social li>a:hover {
    background-color: rgb(var(--color-accent));
    color: rgb(var(--color-foreground));
    transition: 0.3s ease;
}

@media screen and (min-width: 990px) {
    .header__mobile__button {
        display: none;
    }

    .drawer-menu .header__mobile__button {
        display: inline-flex;
    }

}

.drawer__close_button svg,
.header__mobile__button svg {
    pointer-events: none;
}

.drawer__content>*:not(.drawer__inner_custom) {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.is-open .drawer__content>*:not(.drawer__inner_custom),
.drawer--visible .drawer__content>*:not(.drawer__inner_custom) {
    opacity: 1;
}

.drawer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding: 2rem 2rem 2rem 1.5rem;
    background-color: #fff;
}

.drawer__top__left {
    flex: 1;
    display: flex;
    font-family: var(--font-heading-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18.48px;
    line-height: 25px;

}

.drawer__top__right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.menu-cart-icon {
    line-height: 0;
}

.drawer__close_button {
    background: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.menu-account-icon {
    width: 25px;
    height: 25px;
    background: #F5EFDF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.menu-drawer__navigation {
    padding: 0 !important;
}

.menu-drawer__parent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-drawer__menu .parent-element {
    background: #fff;
    padding: 1rem 0.7rem 1rem 0.7rem;
}


.menu-drawer__menu-item {
    color: rgba(var(--color-foreground), 1);
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
    font-size: 1.6rem;
    line-height: 1.8rem !important;
    letter-spacing: 0;
    text-transform: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    transition: 0.3s ease;
    position: relative;
}

.menu-drawer__navigation .menu-drawer__menu-item {
    position: relative;
    transition: 0.3s ease;
}

.menu-drawer__navigation .menu-drawer__menu-item:hover {
    background-color: #F5EFDF !important;
    transition: 0.3s ease;
}

.submenu-wrapper {
    background: #fff;
    padding: 2rem 2rem 2.2rem .7rem;
}

.menu-drawer__close-button .svg-wrapper {
    transform: rotate(180deg);
    margin-right: 1rem;
    width: 15px;
    position: absolute;
    left: 2rem;
}

.menu-drawer__menu-item>.svg-wrapper {
    width: 7px !important;
    right: 15px !important;
}

.menu-drawer__close-button {
    font-family: var(--font-heading-family) !important;
    font-style: normal;
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
    font-size: 12px !important;
    line-height: 20px !important;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 0;
    border-radius: 1000px;
    background-color: #F5EFDF !important;
    position: relative;
    justify-content: center;
}



.menu-drawer__menu-item--active:after {
    transform-origin: left top;
}

/* drawer__inner__footer */

.drawer__inner__footer {
    padding: 13px 24px 24px;
}


.menu-lebel {
    font-family: var(--font-heading-family);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 12px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    margin-bottom: 12px;
}

.contact-item__button {
    /* Frame 5 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 90px;
    font-style: normal;
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
    font-size: 1.2rem;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
    min-height: 3.6rem;
    text-decoration: none;
    min-width: auto;

}

.drawer-contact-info {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: space-between;
}

.contact-item {
    text-align: center;
    flex: 1;
}

.contact-item .conact-text {
    margin-top: 7px;
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-size: 1rem;
    line-height: 11px;
    color: rgb(var(--color-foreground));

}




/* .button--card__flex */
.button--card {
    position: relative;
    background: transparent;
    margin: 1rem auto;
    padding: 0 1.5rem;
}

.button--card a {
    color: rgb(var(--color-foreground));
}

.button--bg-img {
    border-radius: 20px;
    overflow: hidden;
    line-height: 0;
    height: 77px;
    background-color: rgb(var(--color-background));
}

.button--bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button--card__flex {
    display: flex;
    gap: 12px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;

    /* Frame 7 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
    gap: 10px;

    width: 204px;
    height: 39px;
    background: rgba(0, 0, 0, 0.004);
    border-radius: 90px;

}

.button--card__icon {
    flex: 0 0 15px;
    max-width: 15px;
    line-height: 15px;
    z-index: 1;
}

.button--card__text {
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;

}


.glass-container {
    --lg-highlight: rgba(255, 255, 255, .75);
    --c-glass: #bbbbbc66;
    --c-light: #fff7efe6;
    --c--red: #ff0303;
    --c-dark: #F37314;
    --c-action: #ffffff;
    --c-bg: #e8e8e9;
    --c-blue: #0016ff;
    --c-dark-rgb: rgba(255, 136, 91, 1);
    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;
    --saturation: 150%;
    overflow: hidden;
}

.glass-filter {
    position: absolute;
    inset: 0;
    z-index: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    filter: url(#lg-dist);
    isolation: isolate;
    display: block !important;
    /*  Browser compatibility */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: url(#blur);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.glass-overlay {
    display: block !important;
    position: absolute;
    inset: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0.004);
    box-shadow: inset 0 0 8px 4px #ffffff30;
    border-radius: 90px
}

.glass-specular {
    display: block !important;
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    overflow: hidden;
    /*box-shadow: inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);*/

    box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent), inset 1.8px 3px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 90%), transparent), inset -2px -2px 0 -2px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 80%), transparent), inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 60%), transparent), inset -.3px -1px 4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 12%), transparent), inset -1.5px 2.5px 0 -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 0 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent), inset 2px -6.5px 1px -4px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 1px 5px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 10%), transparent), 0 6px 16px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 8%), transparent), 10px 1px 5px 10px color-mix(in srgb, var(--c--red) calc(var(--glass-reflex-dark) * 98%), transparent), inset 0 0 0 1px color-mix(in srgb, var(--c-dark-rgb) calc(var(--glass-reflex-light) * 20%), transparent), inset 2px 2px 8px 2px color-mix(in srgb, var(--c-blue) calc(var(--glass-reflex-light) * 8%), transparent);

}


/* custom product */

.product-list-wrapper {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 990px) {
    .product-list-wrapper {
        max-width: 300px;
    }
}

.product-card-custom {
    padding: 12px 12px 12px 15px;
    border-radius: 12.37px;
    overflow: hidden;
}

.product-card-custom .product-card__image {
    border-radius: 6px;
    overflow: hidden;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-custom a {
    text-decoration: none;
}

.product-card-custom .product-link-title {

    font-family: var(--font-abc-family);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    text-align: center;

    margin: 0;

}

.product-card-custom .product-card__content {
    padding: 1.5rem 0 0;
    min-height: 26px;
}

.product-list-wrapper .slideshow__swiper {
    margin-right: -25px;
}


.product-card__badge {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.custom-badge {
    /* Frame 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    border-radius: 93px;
    font-family: var(--font-abc-family);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    display: flex;
    align-items: center;
    background-color: #2E2E25;
    color: #F5EFDF;

}

.badge-rx {
    color: #2E2E25;
    background-color: #fff;
}

.badge-popular {

    color: #2E2E25;
    background: #89EA8E;


}

/* mobile push menu */
.header-pusher {
    position: relative;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}


.mobile-menu-panel {
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 100;
    width: 100%;
    max-height: 500px;
    overflow-x: scroll;
    background: rgb(var(--color-background));
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s ease-in-out, visibility 0s 0.5s;
}

.menu-open .mobile-menu-panel {
    visibility: visible;
    transition: transform 0.5s ease-in-out, visibility 0s 0s;
}






.content,
.header {
    position: relative;
}


.mobile-menu {
    background-color: transparent;
    border: 0;
    color: rgb(var(--color-foreground));
    padding: 0;
    opacity: 0.4;
    display: flex;
}


.close-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    color: #fff;
    border: 0;
}


.mobile-menu-panel .list-menu {
    text-align: center;
}

.mobile-menu-panel .list-menu__item {
    display: inline-flex;
    padding: 0;
}

.mobile-menu-panel .menu-drawer__navigation {
    padding: 4rem;
}

.mobile-menu-panel .menu-drawer__menu li {
    margin-bottom: 16px !important;
}

.menu-drawer__menu .menu-lebel {
    padding-left: 0.7rem;
}

.header__left-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}


.header__left-icon .header__icon span {
    width: 20px;
}

.header-drawer-toggler {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
}

.icon-close-cusotom {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.header-drawer-toggler.active .icon-close-cusotom {
    opacity: 1;
    visibility: visible;
}

.header-drawer-toggler.active .icon-hamburger-custom {
    opacity: 0;
    visibility: hidden;

}

.header-grid__logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
}

.header-grid__logo:not(.header-grid__logo--one-image) img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    transition: transform .5s ease;
    transform-origin: left center;
}

.header-grid__logo img+img,
.is-transparent .header-grid__logo img,
.is-transparent:has([open]) .header-grid__logo :is(img)+:is(img) {
    opacity: 0;
    visibility: hidden;
}

.is-transparent .header-grid__logo img+img {
    opacity: 1;
    visibility: visible;
}

.scrolled-past-header .is-transparent .header-grid__logo img {
    opacity: 1;
    visibility: visible;
}

.scrolled-past-header .is-transparent .header-grid__logo img+img {
    opacity: 0;
    visibility: hidden;
}

@media screen and (min-width: 990px) {
    .count-text {
        display: block;
    }

    .header__left-icon .header__search {
        display: none !important;
    }

    .header-drawer-toggler {
        display: none;
    }


    .header--middle-left {
        grid-template-areas: "heading navigation icons";
        grid-template-columns: auto auto 1fr;
        column-gap: 3.5rem;
    }

    .header--nav-middle-center:not(.header--has-menu) {
        grid-template-areas:
            'heading icons'
            'navigation navigation';
        grid-template-columns: 1fr auto;
    }

    .header--nav-middle-center.drawer-menu {
        grid-template-areas: 'navigation heading icons';
        grid-template-columns: auto 1fr auto;
        column-gap: 3.5rem;
    }

    .header--nav-middle-center {
        grid-template-areas: 'heading navigation icons';
        grid-template-columns: auto 1fr auto;
        column-gap: 3.5rem;
    }

    .header:not(.header--middle-left, .header--middle-center) .header__inline-menu {
        margin-top: 0;
    }

    .header:not(.header--nav-middle-center) .header__inline-menu {
        margin-top: 0;
    }

    .header--nav-middle-center .header__inline-menu {
        margin-left: 0;
    }

    .header--middle-left .header__heading-link,
    .header--top-left .header__heading-link {
        margin-left: 0;
    }


}

@media screen and (max-width: 1440px) {

    .header__menu-item .icon-caret {
        right: 0;
        height: 1rem;
        top: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .header__menu-item .icon-caret {
        right: 0;
        height: 1rem;
        top: 20px;
    }
}



@media screen and (max-width: 992px) {
    .header--mobile-left {
        grid-template-columns: auto 2fr;
    }


    .header--mobile-left .header__heading,
    .header--mobile-left .header__heading-link {
        text-align: left;
        justify-self: start;
    }


}



/* header__inline-menu */

.header__inline-menu {
    background: transparent;
}

.header__inline-menu>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0;
    height: 100%;
}


.header__inline-menu>ul>li {
    position: relative;
    list-style: none;
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0 1.2rem;
}

@media screen and (max-width: 1200px) {

    .header__inline-menu>ul>li {
        padding: 0 1rem;
    }
}

.header__inline-menu>ul>li>a {
    color: rgb(var(--color-foreground));
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);

    font-size: 16px;
    line-height: 130%;
    line-height: normal;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__inline-menu>ul>li>a:hover,
.header__inline-menu>ul>li>a.active {
    color: rgb(var(--color-accent));
    text-decoration: none;
}

.header__inline-menu>ul>li .menu-link-item .link-text {
    background: linear-gradient(90deg, currentColor, currentColor 100%) !important;
    background-size: 0% .1rem !important;
    background-repeat: no-repeat !important;
    background-position: right bottom !important;
    transition: background-size .5s cubic-bezier(.3, 1, .3, 1) !important;
}

.header__inline-menu>ul>li .menu-link-item:hover .link-text {
    background-size: 100% .1rem !important;
    background-position: left bottom !important;
}

.header__inline-menu>ul>li .arrow-down {
    margin-left: 4px;
    display: inline-flex;
}

.header__inline-menu>ul>li .arrow-down svg {
    transition: 0.3s;
    width: 16px;
    height: 16px;
}

.header__inline-menu>ul>li:hover .arrow-down svg {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    transition: 0.3s;
}

.header__inline-menu>ul>li.has-mega-menu {
    position: static;
}

.header__inline-menu>ul>li .header__inline-mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.1s;
    transform-origin: top;
    -webkit-transform: perspective(10px) rotateX(-18deg);
    -moz-transform: perspective(10px) rotateX(-18deg);
    -ms-transform: perspective(10px) rotateX(-18deg);
    -o-transform: perspective(10px) rotateX(-18deg);
    transform: perspective(10px) rotateX(-18deg);
}

.mega-menu__innner {
    width: 100%;
    background: rgb(var(--color-background));
    padding: 24px 64px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.header__inline-menu>ul>li>.header__inline-submenu--wrapper {
    position: absolute;
    top: 100%;
    padding-top: 33px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    transition-duration: 0.1s;
    transform-origin: top;
    -webkit-transform: perspective(10px) rotateX(-18deg);
    -moz-transform: perspective(10px) rotateX(-18deg);
    -ms-transform: perspective(10px) rotateX(-18deg);
    -o-transform: perspective(10px) rotateX(-18deg);
    transform: perspective(10px) rotateX(-18deg);

}

.header__inline-menu .header__inline-submenu {
    background: rgb(var(--color-background));
    padding: 24px 0;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    width: 100%;
    list-style: none;
}

.header__inline-menu>ul>li:hover>.header__inline-submenu--wrapper,
.header__inline-menu>ul>li:hover>.header__inline-mega-menu {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.2s;
    -webkit-transform: perspective(10px) rotateX(0deg);
    -moz-transform: perspective(10px) rotateX(0deg);
    -ms-transform: perspective(10px) rotateX(0deg);
    -o-transform: perspective(10px) rotateX(0deg);
    transform: perspective(10px) rotateX(0deg);
}

.header__inline-nested--wrapper {
    position: absolute;
    left: 100%;
    right: 0;
    width: 100%;
    margin-top: -35px;
    padding-left: 5px;
    z-index: 9;
    min-width: 300px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.1s;
    transform-origin: top;
    -webkit-transform: perspective(10px) rotateX(-18deg);
    -moz-transform: perspective(10px) rotateX(-18deg);
    -ms-transform: perspective(10px) rotateX(-18deg);
    -o-transform: perspective(10px) rotateX(-18deg);
    transform: perspective(10px) rotateX(-18deg);
}

.header__inline-nested-menu {
    list-style: none;
    padding: 24px 0;
    background: rgb(var(--color-background));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.header__inline-submenu li.menu-item-has-children:hover .header__inline-nested--wrapper {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.2s;
    -webkit-transform: perspective(10px) rotateX(0deg);
    -moz-transform: perspective(10px) rotateX(0deg);
    -ms-transform: perspective(10px) rotateX(0deg);
    -o-transform: perspective(10px) rotateX(0deg);
    transform: perspective(10px) rotateX(0deg);
}

.header__inline-submenu li {
    padding: 0 24px;
    position: relative;
}

.has-mega-menu .header__inline-submenu li {
    padding: 0;
}

.header__inline-submenu li.menu-item-has-children .sub-arrow-down svg {
    transition: 0.3s;
}

.header__inline-submenu li.menu-item-has-children:hover .sub-arrow-down svg {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: 0.3s;
}

.menu-item-has-children a {
    width: 100%;
}

.header__inline-menu>ul>li .header__inline-mega-menu>li:not(:last-child) {
    margin-right: 0;
}


.header__inline-menu>ul>li .header__inline-mega-menu>li .header__inline-submenu {
    padding: 0;
    list-style: none;
}

.header__inline-menu>ul>li .header__inline-mega-menu .header__inline-submenu {
    list-style: none;
    padding: 0;
    column-count: 2;
}

.shop-mega-menu-list>ul {
    padding: 0;
    list-style: none;
}

.header__inline-menu>ul>li .header__inline-submenu>li>a,
.header__inline-nested-menu>li>a {
    color: rgb(var(--color-foreground));
    font-family: var(--font-body-family);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: var(--font-body-weight);
    line-height: 30px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.3s ease;
}

.header__inline-menu>ul>li .header__inline-submenu>li>a:hover,
.header__inline-nested-menu>li>a:hover {
    opacity: 1;
    color: rgb(var(--color-accent));
    transition: 0.3s ease;
}

.megamenu-list>li a {
    color: rgb(var(--color-foreground));
    font-family: var(--font-body-family);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: var(--font-body-weight);
    line-height: 30px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.3s ease;
}

.megamenu-list>li a:hover {
    opacity: 1;
    color: rgb(var(--color-accent));
    transition: 0.3s ease;
}

.header__inline-menu>ul>li .header__inline-submenu li:not(:last-child) {
    margin-bottom: 8px;
}

.shop-mega-menu-list>ul>li>a {
    color: rgba(var(--color-foreground), 1);
    font-family: var(--font-body-family);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: var(--font-body-weight);
    line-height: 30px;
    position: relative;
    text-decoration: none;
}


.shop-mega-menu-list>ul>li:not(:last-child) {
    margin-bottom: 5px;
}

.mega-menu-title,
.shop-mega-menu-title {
    color: rgb(var(--color-foreground));
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    position: relative;
    font-size: 17px;
    line-height: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: none;
}

.shop-mega-menu-list__collection>ul>li>a {
    color: rgb(var(--color-foreground));
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    font-size: 16px;
    font-style: normal;

    line-height: 32px;
    /* 200% */
}

.header__inline-menu>ul>li .mega-menu__default {
    padding: 0;
}

.header__inline-menu>ul>li .mega-menu__default .container {
    padding-top: 17px;
}

.header__inline-mega-menu .container {
    padding: 0;
}





/* desktop - mobile hidden */



.desktop-hidden {
    display: none !important;
}

.mobile-hidden {
    display: block !important;
}

@media screen and (max-width: 768px) {

    .desktop-hidden {
        display: block !important;
    }

    .mobile-hidden {
        display: none !important;
    }
}


.background__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.background__bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 83, 88, 0.5);
    z-index: 10;

}

.background__bg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* swiper navigation */

.swiper-navigation-wrapper {
    background-color: transparent;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    width: 30px;
    height: 30px;
    -webkit-transition: all .3s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(.42, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(.42, 0, .58, 1);
    transition: all .3s cubic-bezier(.42, 0, .58, 1);
    transform: translate(0);
    transition: all .3s;
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border: 0;
    color: rgb(var(--color-background));
    background: rgb(var(--color-foreground));
    border-radius: 80px;
    z-index: 1;
    cursor: pointer;
}

.swiper-button-next {
    transform: translateX(90px);
    transition: all 0.3s;
}

.swiper-button-prev {
    transform: translateX(-90px);
    transition: all 0.3s;
}


.swiper-button-next svg,
.swiper-button-prev svg {
    object-fit: contain;
    transform-origin: center;
    width: auto;
    height: auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    -webkit-transition: all .3s cubic-bezier(.42, 0, .58, 1);
    -moz-transition: all .3s cubic-bezier(.42, 0, .58, 1);
    -o-transition: all .3s cubic-bezier(.42, 0, .58, 1);
    transition: all .3s cubic-bezier(.42, 0, .58, 1);
    background-color: #E09F20;
    color: #fff;
}


.slideshow__swiper:hover .swiper-button-next,
.slideshow__swiper:hover .swiper-button-prev {
    transition: all 0.3s;
}

.slideshow__swiper:hover .swiper-button-next,
.slideshow__swiper:hover .swiper-button-prev {
    transform: translateX(0px);
    transition: all 0.3s;
}


@media screen and (max-width: 768px) {

    .swiper-button-next,
    .swiper-button-prev {
        width: 34px;
        height: 34px;
    }
}

/* swiper pagination */
.pagination-wrap {
    background-color: transparent;
}

.pagination-wrap .swiper-pagination {
    position: relative;
    padding-top: 40px;
}

.swiper-pagination-bullet {
    border: 0;
    background-color: rgb(var(--color-accent), 0.5);
    width: 24px;
    height: 10px;
    opacity: 1;
    transition: 0.3s ease;
    border-radius: 10px;
    border: 0;
}

.swiper-pagination-bullet-active {
    background-color: rgb(var(--color-foreground));
    transition: 0.3s ease;
    border-radius: 10px;
    width: 50px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}


/* swiper scrollbar */
.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: var(--swiper-scrollbar-size, 10px);
}

.swiper-scrollbar {
    background-color: rgb(var(--color-foreground));
}

.swiper-scrollbar-drag {
    display: block !important;
    background-color: rgb(var(--color-accent));
}

.scrollbar-wrap {
    position: relative;
    padding-top: 4rem;
    background-color: transparent;
}

.swiper-navigation-flex .swiper-button-prev,
.swiper-navigation-flex .swiper-button-next {
    position: relative;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    transform: none;
    margin: 0;
    width: 44px;
    height: 44px;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
}

.swiper-navigation-flex .swiper-button-prev:hover,
.swiper-navigation-flex .swiper-button-next:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
}

.swiper-navigation-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding-top: 24px;
    justify-content: end;
    position: relative;
    margin-top: 24px;
}

.swiper-navigation-flex::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background: #E3E3E3;
 }

@media screen and (max-width:768px) {
    .swiper-navigation-flex {
        padding-top: 32px;
        gap: 8px;
    }
}


/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}


/* .product-row */


.slideshow__swiper .col {
    margin: 0;
    padding: 0;
}

.slideshow__swiper .swiper-slide {
    height: auto;
}

.slideshow__swiper .swiper-wrapper {
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}


/* section title */

.section--header {
    padding-bottom: 2.8rem;
}

.section--title {
    font-style: normal;
    font-weight: var(--font-heading-weight);
    line-height: 120%;
    margin: 0;
}

.section--title em {
    color: rgb(var(--color-accent));
    font-style: normal;
}

.section--text {
    max-width: 588px;
}

.section--text p {
    margin: 0;
}

.text-center .section--text {
    margin: 0 auto;
}

.section--title+.section--text {
    margin-top: 2.8rem;
}

.section--header-flex {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.section--header-flex>div:last-child {
    text-align: right;
    max-width: 390px;
    margin: 0 0 0 auto;
}

.button--wrapper {
    margin-top: 4.8rem;
}

@media screen and (max-width:768px) {
    .section--header-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        justify-content: flex-start;
    }

    .section--header-flex>div:last-child {
        text-align: left;
        max-width: 100%;
    }

    .button--wrapper {
        margin-top: 2.8rem;
    }
}

.link-animation {
    background: linear-gradient(90deg, currentColor, currentColor 100%) !important;
    background-size: 0% 0.1rem !important;
    background-repeat: no-repeat !important;
    background-position: right bottom !important;
    transition: background-size 0.5s cubic-bezier(0.3, 1, 0.3, 1) !important;
}

.link-animation:hover {
    background-size: 100% 0.1rem !important;
    background-position: left bottom !important;
}



.link-underline {
    position: relative;
    display: inline !important;
    text-decoration: none !important;
    transition: 0.33s ease
}

.link-underline:hover {
    color: rgb(var(--color-heading));
    transition: 0.33s ease
}

.link-underline:after {
    content: "";
    background: currentColor;
    height: 1px;
    position: absolute;
    bottom: 0;
    transition: 0.33s width;
    width: 100%;
    left: 0;
}

.link-underline:hover:after {
    transition: 0.33s all;
    width: 0;
    left: 100%;
}


.section-divider {
    display: block !important;
    position: relative;
    width: 100%;
    height: 5px;
    background: #DADADA;
}


.page-policy--container.rte h2 {
    font-size: 3rem;
    margin: 20px 0;
}

.page-policy--container.rte p {
    margin: 0 0 40px;
}

.page-policy--container.rte ol,
.page-policy--container.rte ul {
    padding-left: 0;
}

.page-policy--container {
    max-width: 720px;
}

@media screen and (max-width:768px) {}



.gv-section-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}



.gvlp-section-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}




.tablist__scroller{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.tablist__tab {
    padding: 22px 16px;
    white-space: nowrap;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-variant: all-small-caps;
    font-family: var(--font-heading-family);
     color: rgb(var(--color-foreground));
     display: flex;
     align-items: center;
     justify-content: center;
     border: 0;
     border-radius: 0;
     background-color: transparent;
     position: relative;
     z-index: 1;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     border: 1px solid #DDDFDF;
     width: 100%;
     border-right: 0;
        overflow: hidden;
    min-width: 157px;
  }
.tab__item:first-child .tablist__tab{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .tab__item:last-child .tablist__tab{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
     border-right: 1px solid #DDDFDF;
  }

  .tab__item{
    width: 100%;
  }
  .tablist__tab::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #F5EFDF;
    width: 0;
    height: 100%;
    transition: width 0.4s ease-out, left 0.4s ease-out;
    z-index: -1;
  }

  .tablist__tab[aria-selected="true"] {
    border: 1px solid rgb(var(--color-accent));
    text-decoration: none;
    font-style: normal;
    transition: font-size 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  } 

  .tablist__tab[aria-selected="true"]::before{
    width: 100%;
    left: 0;
    transition: width 0.3s ease-in;
  }

  .tablist__tab[aria-selected='true'] {
    border: 1px solid rgb(var(--color-accent));
  }




@media screen and (max-width:768px) {
.tablist__scroller {
    justify-content: start;
    overflow: auto;
}

.tablist__tab {
    padding: 14px 14px;
    min-width: 120px;
}
}


